body{
    font-family: 'DM Serif Display', serif;
    margin: 0;
}
span{

    color: orange;
}
h1{
    font-size: 50px;
}
p{
    font-size: 25px;
}
section{
       display: flex;
}
.half-width{
    width: 50%;
    padding-left:6%;

}
.half-width img{
    width: 75%;
    padding-left: 5%;
    
}.dot{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding:10px 40px;
    color:darkcyan;
    font-weight: 700;
    font-size: 25px;
    border-radius: 18px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}